<meta charset="utf-8">
<style>
      #sideBar { vertical-align:top;}
      #contentArea { vertical-align:top;}
</style>
 <style>
  .draggable { float: left; background: transparent; border: none;}
  #draggable, #draggable2 { margin-bottom:20px; }
  #draggable { cursor: n-resize; }
  #draggable2 { cursor: e-resize; }
  #containment-wrapper { width: 500px; height:550px; border:2px solid #ccc; padding: 10px; }
  h3 { clear: left; }
</style>
<script>
$(function() {
  $(".arrastavel").draggable({ containment: "#containment-wrapper", scroll: false });
  });
</script>

<canvas id="VeryFirstExampleCanvas" width=180 height=80>
  GO AND UPDATE YOUR BROWSER BEFORE YOU READ ON!
</canvas>

<script>
  var canvas = document.getElementById ('VeryFirstExampleCanvas');    // access the canvas object
  var context = canvas.getContext ('2d');                             // access the canvas context
  context.fillStyle = 'blue';                                          // set the color to 'red'
  context.fillRect (0,0,180,60);                                      // draw a red box on the whole of the canvas
  context.fillStyle = 'green';                                       // set the color to 'yellow'
  context.fillRect (5,5,170,50);                                      // draw a yellow box inside the red one
  context.fillStyle = 'red';                                          // set the color back to 'red'
  context.font = '28pt Arial Black';                                        // define the CSS font for writing text
  context.fillText ('Labwiki',5,45);                                   // write the text 'Hello'
</script>

    <table>
      <tr>
        <div><b> Menu de movimentacao das testbeds!</b><br />LabWiki v0.0</div>
        <td><div id="example">
        <div>div index 0</div>
        <div>div index 1</div>
        <div>div index 2</div>
        <div>div index 3</div>
        <div>div index 4</div>
        </div></td>

<div align="right" id="containment-wrapper">
        <div align="left" id="test1" class="draggable ui-widget-content arrastavel">
        <a href="#"><img src="http://localhost/Graphics/testbed.png" ></a>
        </div>
        <div align="left" id="test2" class="draggable ui-widget-content arrastavel">
        <a href="#"><img src="http://localhost/Graphics/testbed.png"></a>
        </div>
        <div align="left" id="test3" class="draggable ui-widget-content arrastavel">
        <a href="#"><img src="http://localhost/Graphics/testbed.png" ></a>
        </div>
        <div align="left" id="test4" class="draggable ui-widget-content arrastavel">
        <a href="#"><img src="http://localhost/Graphics/testbed.png"></a>
        </div>
</div>

        
        <td><div id="example_index">Click one of the above divs</div></td>
      </tr>
    </table>
    <div align="right" class="dragme">
        <br>FUNCIONEM, SCRIPTS GORDOS!</br>
    </div>