<meta charset="utf-8">
<style>
.draggable { z-index: 1; float: left; background: transparent; border: none; position: relative; cursor: progress; }
  #sideBar { vertical-align:top;}
  #contentArea { vertical-align:top;}
  #rightSideBar { vertical-align:top;}
</style>
<%= "Hello".reverse %>
<div><b> Menu de movimentacao das testbeds!</b><br />LabWiki v0.1</div>
<table>
 <tr>
  <td id="sideBar">
    <% for list in @testbed %>
    <ul>
      <div align="left" id=<%= list.name %> class="draggable ui-widget-content arrastavel">
      <a href="#"><img src="/testbed.png" ></a></div>
    </ul>
    <% end %>
  </td>

  <td id="contentArea">
    <div align="center" id="containment-wrapper" class="index">
      <div id="container"><canvas id="imageView" height="500" width="500"></canvas>
      <canvas id="imageTemp" width="500" height="250"></canvas></div>
    </div>
  </td>

  <td id="rightSideBar">
    <div id="example_index">Clique em uma das testbeds!</div>
    <div id="testbed_pos">Posição real das testbeds!(em relação ao canvas)</div>
    <div id="testbed_con">Testbed conectada com...</div>
    <div align="left">
      <br>Agora os scripts gordos estão funcionando!</br>
    </div>
    <pre name="code" class="java">
      System.out.println("hello");
    </pre>
    <input type="button" value="Congelar" id="freeze">
    <input type="button" value="Resetar" id="reset"> 
  </td>

</tr>
</table>