<meta charset="utf-8">
<style>
      #sideBar { vertical-align:top;}
      #contentArea { vertical-align:top;}
</style>
 <style>
  canvas { z-index: 0 }
  els_jquery {z-index: 1; background: trasparent; }
  .draggable { float: left; background: transparent; border: none; }
  #draggable, #draggable2 { margin-bottom:20px; }
  #draggable { cursor: n-resize; }
  #draggable2 { cursor: e-resize; }
  #containment-wrapper { width: 500px; height:550px; border:0.1px solid #ccc; padding: 1px; float: right; }
  h3 { clear: left; }
</style>
<script>
$(function() {
 $(".arrastavel").draggable({ containment: "#containment-wrapper", scroll: false });
 $(".arrastavel").on("dragstop click", function() {
    var index = $(this).index();
    $("#example_index").html("Index " + index + " was clicked");
 });
});
</script>

<script>
  window.onload = function() {
    var canvas = document.getElementById('test');
    var ctx = canvas.getContext('2d');
    var width  = 300;
    var height = 300;
    console.log(canvas);
    canvas.height = height;
    canvas.width = width;
    canvas.addEventListener('mousedown', function(e) {
      this.down = true;  
      this.X = e.pageX ;
      this.Y = e.pageY ;
      this.color = rgb();
    }, 0);
    canvas.addEventListener('mouseup', function() {
      this.down = false;      
    }, 0);
    canvas.addEventListener('mousemove', function(e) {
      this.style.cursor = 'pointer';
      if(this.down) {
          ctx.beginPath();
          ctx.moveTo(this.X, this.Y);
          ctx.lineCap = 'round';
           ctx.lineWidth = 3;
          ctx.lineTo(e.pageX , e.pageY );
          ctx.strokeStyle = this.color;
          ctx.stroke();

         this.X = e.pageX ;
         this.Y = e.pageY ;
      }
    }, 0);

    function rgb() {
      color = 'rgb(';
      for(var i = 0; i< 3; i++) {
        color += Math.floor(Math.random() * 255)+',';
      }
      return color.replace(/\,$/,')');
    }    
  };
</script>

<div><b> Menu de movimentacao das testbeds!</b><br />LabWiki v0.0</div>

<div align="center" id="containment-wrapper" class="index">
  <div align="left" id="test1" class="draggable ui-widget-content arrastavel">
  <a href="#"><img src="/testbed.png" ></a>
  </div>
  <div align="left" id="test2" class="draggable ui-widget-content arrastavel">
  <a href="#"><img src="/testbed.png"></a>
  </div>
  <div align="left" id="test3" class="draggable ui-widget-content arrastavel">
  <a href="#"><img src="/testbed.png" ></a>
  </div>
  <div align="left" id="test4" class="draggable ui-widget-content arrastavel">
  <a href="#"><img src="/testbed.png"></a>
  </div>
  <canvas id="test">Hello?</canvas>
</div>

        
<td><div id="example_index">Click one of the above divs</div></td>
<div align="left">
  <br>FUNCIONEM, SCRIPTS GORDOS!</br>
</div>