<style>
      #sideBar { vertical-align:top;}
      #contentArea { vertical-align:top;}
</style>

<canvas id="VeryFirstExampleCanvas" width=180 height=80>
  GO AND UPDATE YOUR BROWSER BEFORE YOU READ ON!
</canvas>

<script>
  var canvas = document.getElementById ('VeryFirstExampleCanvas');    // access the canvas object
  var context = canvas.getContext ('2d');                             // access the canvas context
  context.fillStyle = 'blue';                                          // set the color to 'red'
  context.fillRect (0,0,170,60);                                      // draw a red box on the whole of the canvas
  context.fillStyle = 'green';                                       // set the color to 'yellow'
  context.fillRect (5,5,160,50);                                      // draw a yellow box inside the red one
  context.fillStyle = 'red';                                          // set the color back to 'red'
  context.font = '30pt Arial Black';                                        // define the CSS font for writing text
  context.fillText ('Seibah',10,50);                                   // write the text 'Hello'
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
</style>
<script>
  $(function() {
  $( "#draggable" ).draggable();
  });
</script>
@javascript
    <table>
      <tr>
        <div align="left"><div>div index 1</div>
        <a href="#"><img src="http://localhost/Graphics/testbed.png" class="dragme"></a>
        </div>
        <div align="left">
        <a href="#" onclick="this.dragme"><img src="http://localhost/Graphics/testbed.png" class="ui-widget-content"></a>
        </div>
        <div align="left">
        <a href="#"><img src="http://localhost/Graphics/testbed.png" class="dragme"></a>
        </div>
        <div align="left">
        <a href="#"><img src="http://localhost/Graphics/testbed.png" class="ui-widget-content"></a>
        </div>
         
        <div class="dragme"><b> Menu de movimentacao das testbeds!</b><br />LabWiki v0.0</div>
        
        <td><div id="example_index">Click one of the above divs</div></td>
      </tr>
    </table>
    <div align="right">
        <br>Proxima iteracao: fazer o JS mover elas de novo!</br>
    </div>