<meta charset="utf-8">
<style>
.draggable { z-index: 2; float: right; background: transparent; border: none; position: absolute; }
</style>
<% list = ['test1', 'test2', 'test3', 'test4', 'test5', 'test6', 'test7'] %>

<div><b> Menu de movimentacao das testbeds!</b><br />LabWiki v0.1</div>

<div align="center" id="containment-wrapper" class="index">
  <% if !list.blank? %>
    <% for item in list %>
      <div align="left" id=<%= item %> class="draggable ui-widget-content arrastavel">
      <a href="#"><img src="/testbed.png" ></a></div>
    <% end %>
  <% else %>
    <b>Erro de puxar as testbeds!</b>
  <% end %>
  <div id="container"><canvas id="imageView" height="500" width="500"></canvas>
  <canvas id="imageTemp" width="500" height="250"></canvas></div>
</div>
<td><div id="example_index">Clique em uma das testbeds!</div></td>
<div align="left">
  <br>Agora os scripts gordos estão funcionando!</br>
</div>