<div class="text-center">
<p>Sign In</p>
<%= form_for @user, :as => :user, :url => sign_in_path do |f| %>
    <p>
      <%= f.label 'username or email:' %><br />
      <%= f.text_field :username %>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.label 'password:' %><br />
      <%= f.password_field :password %>
      <%= show_field_error(@user, :password) %>
    </p>
    <p>
      <%= f.submit 'Sign In', :class => 'form_control btn btn-primary' %>&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Clear Form', :type => 'reset', :class => 'form_control btn btn-primary' %>
    </p>
<% end %>
</div>