/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 *= require bootstrap
 *= require_tree .
 */

#flash_error {
    border: 1px, solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #cc3333;
}

#flash_notice {
    border: 1px, solid #000066;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #A3B15A;
}

canvas { 
	z-index: 0; 
	float: right; 
}

#draggable, #draggable2 { 
	margin-bottom:20px; 
}

#draggable { 
	cursor: n-resize; 
}

#draggable2 { 
	cursor: e-resize; 
}

#containment-wrapper { 
	width: 500px; 
	height:500px; 
	border: transparent;
	float: center; 
	z-index: 0; 
	background: transparent; 
	position: relative; 
}

#container { 
	z-index: 0; 
	position: relative;
}

#imageTemp { 
	z-index: 0; 
	border: 1px solid #000; 
	position: absolute; 
	top: 0px; 
	left: -3px; 
	background: transparent;
} 

#texto{

}